<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<title>MongooseNews!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/news.js"></script>
	<style type="text/css">
		.jumbotron {
			background-image: url('assets/img/images.jpg');

			background-size: cover;
			color: white;
			height: 300px;

		}

		.card {
			border: 1px solid black;
		}

		.save {
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.delete {
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.addNote {
			position: absolute;
			top: 20px;
			right: 100px;
		}
	</style>

</head>

<body>
	{{{ body }}}
</body>

</html>