<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MongooseNews!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/assets/js/news.js"></script>
	<style type="text/css">
		.navbar {
			padding-top: 10px;
		}
		.nav-link {
			padding-right: 5px;
		}
		.jumbotron {
			background-image: url('assets/img/images.jpg');

			background-size: cover;
			color: white;
			height: 300px;

		}
		.scrape {
			float:right;
		}

		.card {
			border: 1px solid black;
		}



		.delnotebutton {
			display: inline;
			float: right;
		}
		
		.buttonSmall {
			height:20px;
			width: 30px;
			text-align: center;
			padding: 0;
		}
	</style>

</head>

<body>
	{{{ body }}}
</body>

</html>