<div class="container">
	<nav class="navbar navbar-expand-lg navbar-inverse">
		<a class=" navbar-brand" href="/">MongoScraper</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/saved">Saved Articles</a>
				</li>

			</ul>
			<button class="scrape" type="button">Scrape New Articles</button>

		</div>
	</nav>



	<div class="jumbotron text-center">
		<h1>Mongo Scraper</h1>
		<h2>The Huffington Post Edition</h2>
	</div>



	{{#each articles}}

	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-11">
					<a class="article-link" target="_blank" rel="noopener noreferrer" href={{link}}>{{headline}}</a>
				</div>
				<div class="col-md-1">
					<button class="save" type="button" attrId={{_id}}>Save</button>

				</div>
			</div>


		</div>
		<div class="card-body">
			<p class="card-text">{{summary}}</p>

		</div>
	</div>


	{{/each}}

</div>